---
- name: "Preoare to Deploy"
  block:

    - name: "Get timestamp from the system"
      shell: "date +%Y%m%d-%H%M"
      register: tstamp

    - name: "Set variables"
      set_fact:
       my_date: "{{ tstamp.stdout[0:8]}}"
       my_time: "{{ tstamp.stdout[8:]}}"    

    - name: NODE BUILD SERVER - PREPARE TAG - Checking hospedate_number_build
      debug:
        msg: "hospedate_number_build is {{ hospedate_number_build }}"

    - name: NODE BUILD SERVER - PREPARE TAG - Checking inventory_hostname
      debug:
        msg: "hostname is {{ inventory_hostname }}"

    - name: "NODE BUILD SERVER - PREPARE IMAGE - Create Tag for {{ hospedate_build_profile_customer }}-{{ hospedate_build_profile_environment }}-{{ hospedate_number_version }}:{{ my_date }}-{{ my_time }}"
      ansible.builtin.shell: "docker tag {{ hospedate_build_profile_customer }}-{{ hospedate_build_profile_environment }}-{{ hospedate_number_version }}:latest 590169045949.dkr.ecr.us-east-2.amazonaws.com/{{ hospedate_build_profile_customer }}-{{ hospedate_build_profile_environment }}-{{ hospedate_number_version }}:{{ my_date }}-{{ my_time }} " 
      args:
        chdir: "{{ hospedate_build_workdir }}"

    - name: "NODE BUILD SERVER - PREPARE IMAGE - Check AWS ECR Elastic Container Register"
      ansible.builtin.shell: "aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 590169045949.dkr.ecr.us-east-2.amazonaws.com " 
      args:
        chdir: "{{ hospedate_build_workdir }}"

    - name: "NODE BUILD SERVER - PREPARE IMAGE - Push Docker image to AWS ECR"
      ansible.builtin.shell: "docker push 590169045949.dkr.ecr.us-east-2.amazonaws.com/{{ hospedate_build_profile_customer }}-{{ hospedate_build_profile_environment }}-{{ hospedate_number_version }}:{{ my_date }}-{{ my_time }}" 
      args:
        chdir: "{{ hospedate_build_workdir }}"



