---

- name: "Backup Encrypt {{ hospedate_project|upper }} - {{ hospedate_environment|upper }} "
  block:

    - name: "Set variables from backup-encode"
      set_fact:
       my_date: "{{ hospedate_date }}"
       my_time: "{{ hospedate_time }}"

    - name: "{{ hospedate_project|upper }} {{ hospedate_environment|upper }} SERVER - PUSH PACKAGE - Checking hospedate_number_build from tranfer_push.yml"
      debug:
        msg: "hospedate_date is {{ my_date  }}, hospedate_time is : {{ my_time }}"

    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Ensure app workdir exists: {{ hospedate_local_workdir }}"
      become: yes
      ansible.builtin.file:
        path: "{{ hospedate_local_workdir }}"
        state: directory
        owner: "{{ hospedate_awx_user }}"
        group: "{{ hospedate_awx_group }}"
        mode: 0775
        force: yes

    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Backup directory workdir exists: {{ hospedate_local_workdir }}/encrypt"
      become_user: "{{ hospedate_awx_user }}"
      ansible.builtin.file:
        path: "{{ hospedate_local_workdir }}/encrypt"
        state: directory
        owner: "{{ hospedate_awx_user }}"
        group: "{{ hospedate_awx_group }}"
        mode: 0775
        force: yes

    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Log Directory workdir exists: {{ hospedate_local_workdir }}/log"
      become_user: "{{ hospedate_awx_user }}"
      ansible.builtin.file:
        path: "{{ hospedate_local_workdir }}/log"
        state: directory
        owner: "{{ hospedate_awx_user }}"
        group: "{{ hospedate_awx_group }}"
        mode: 0775
        force: yes

    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Bin Directory workdir exists: {{ hospedate_local_workdir }}/bin"
      become_user: "{{ hospedate_awx_user }}"
      ansible.builtin.file:
        path: "{{ hospedate_local_workdir }}/log"
        state: directory
        owner: "{{ hospedate_awx_user }}"
        group: "{{ hospedate_awx_group }}"
        mode: 0775
        force: yes

    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Install - Copy the gazella-encrypt script"
      become_user: "{{ hospedate_awx_user }}"
      ansible.builtin.template:
        src: gazella-encrypt.j2
        dest: "{{ hospedate_local_workdir }}/bin/gazella-encrypt"
        owner: "{{ hospedate_awx_user }}"
        group: "{{ hospedate_awx_group }}"
        force: yes
        mode: 0775

    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Copy the file from buffer-encrypt/{{ hospedate_db_local_name }}-{{ my_date }}-{{ my_time }}.tar.gz"
      ansible.builtin.copy:
        src: "buffer-encrypt/{{ hospedate_db_local_name }}-{{ my_date }}-{{ my_time }}.tar.gz"
        dest: "{{ hospedate_local_workdir }}/encrypt/{{ hospedate_db_local_name }}-{{ my_date }}-{{ my_time }}.tar.gz"
        force: true

    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Unarchive compress file {{ hospedate_db_local_name }}-{{ my_date }}-{{ my_time }}.tar.gz"
      ansible.builtin.unarchive:
        src: "{{ hospedate_local_workdir }}/encrypt/{{ hospedate_db_local_name }}-{{ my_date }}-{{ my_time }}.tar.gz"
        dest: "{{ hospedate_local_workdir }}/encrypt/"
        remote_src: yes

    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Delete compress {{ hospedate_remote_workdir }}/build_{{ hospedate_number_build }}.tar.gz"
      ansible.builtin.file:
        path: "{{ hospedate_local_workdir }}/encrypt/{{ hospedate_db_local_name }}-{{ my_date }}-{{ my_time }}.tar.gz"
        state: absent
      ignore_errors: yes
  
    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Start DUMP ENCRYPT for backup"
      become_user: "{{ hospedate_awx_user }}"
      ansible.builtin.shell: "{{ hospedate_local_workdir }}/bin/gazella-encrypt {{ hospedate_db_local_username_main }} {{ hospedate_db_local_password_main }} {{ hospedate_db_local_name }} {{ hospedate_db_local_host }} {{ hospedate_local_workdir }}/encrypt/{{ hospedate_db_local_name }}-{{ my_date }}-{{ my_time }}.bkp {{ hospedate_local_workdir }}/encrypt/{{ hospedate_db_local_name }}-{{ my_date }}-{{ my_time }}.pub {{ hospedate_db_local_exclude }}"
      args:
        chdir: "{{ hospedate_local_workdir }}/encrypt"
      ignore_errors: yes

    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Finish backup put log {{ hospedate_local_workdir }}/log/backup-encrypt.log "
      become_user: "{{ hospedate_awx_user }}"
      ansible.builtin.shell: "echo '{{ my_date }}{{ my_time }} [BACKUP ENCRYPT] Creating backup encrypt {{ hospedate_local_workdir }}/encrypt/{{ hospedate_db_local_name }}-{{ my_date }}{{ my_time}}.bkp.bz2.enc from the database {{ hospedate_db_local_name }}' >> {{ hospedate_local_workdir }}/log/backup-encrypt.log"

    - name: "Backup Encrypt {{ hospedate_project|upper }} {{ hospedate_environment|upper }} - Delete {{ hospedate_local_workdir }}/encrypt/{{ hospedate_db_local_name }}-{{ my_date }}-{{ my_time }}.pub"
      ansible.builtin.file:
        path: "{{ hospedate_local_workdir }}/encrypt/{{ hospedate_db_local_name }}-{{ my_date }}-{{ my_time }}.pub"
        state: absent
      ignore_errors: yes

  when: ( inventory_hostname == 'com-integration') or ( inventory_hostname == 'com-production')


