---
- name: "Preoare to Password Update"
  block:

    - name: "AWX BUILD SERVER - PREPARE UPDATE PASSWORD - Ensure app workdir exists: {{ hospedate_encode_workdir }}"
      become: yes
      ansible.builtin.file:
        path: "{{ hospedate_local_workdir }}"
        state: directory
        owner: "{{ hospedate_awx_user }}"
        group: "{{ hospedate_awx_group }}"
        mode: 0775
        force: yes

    - name: "AWX BUILD SERVER - PREPARE UPDATE PASSWORD - Encode directory workdir exists: {{ hospedate_local_workdir }}/lib"
      become_user: "{{ hospedate_awx_user }}"
      ansible.builtin.file:
        path: "{{ hospedate_local_workdir }}/lib"
        state: directory
        owner: "{{ hospedate_awx_user }}"
        group: "{{ hospedate_awx_group }}"
        mode: 0775
        force: yes

    - name: "AWX BUILD SERVER - PREPARE UPDATE PASSWORD - Encode directory workdir exists: {{ hospedate_local_workdir }}/bin"
      become_user: "{{ hospedate_awx_user }}"
      ansible.builtin.file:
        path: "{{ hospedate_local_workdir }}/bin"
        state: directory
        owner: "{{ hospedate_awx_user }}"
        group: "{{ hospedate_awx_group }}"
        mode: 0775
        force: yes

    - name: "AWX BUILD SERVER - PREPARE UPDATE PASSWORD - Encode directory workdir exists: {{ hospedate_local_workdir }}/update_password"
      become_user: "{{ hospedate_awx_user }}"
      ansible.builtin.file:
        path: "{{ hospedate_local_workdir }}/update_password"
        state: directory
        owner: "{{ hospedate_awx_user }}"
        group: "{{ hospedate_awx_group }}"
        mode: 0775
        force: yes

    - name: Install - Copy the commons-codec.jar  
      ansible.builtin.copy: 
        src: commons-codec.jar 
        dest: "{{ hospedate_local_workdir }}/lib/commons-codec.jar"
        owner: "{{ hospedate_awx_user }}" 
        group: "{{ hospedate_awx_group }}" 
        force: no 
        mode: 0775    

    - name: Install - Copy the jboss-logging.jar  
      ansible.builtin.copy: 
        src: jboss-logging.jar 
        dest: "{{ hospedate_local_workdir }}/lib/jboss-logging.jar"
        owner: "{{ hospedate_awx_user }}" 
        group: "{{ hospedate_awx_group }}" 
        force: no 
        mode: 0775    

    - name: Install - Copy the RunEncode.class  
      ansible.builtin.copy: 
        src: RunEncode.class
        dest: "{{ hospedate_local_workdir }}/bin/RunEncode.class"
        owner: "{{ hospedate_awx_user }}" 
        group: "{{ hospedate_awx_group }}" 
        force: no 
        mode: 0775    

    - name: Install - Copy the Encode.class  
      ansible.builtin.copy: 
        src: Encode.class
        dest: "{{ hospedate_local_workdir }}/bin/Encode.class"
        owner: "{{ hospedate_awx_user }}" 
        group: "{{ hospedate_awx_group }}" 
        force: no 
        mode: 0775    

    - name: "AWX BUILD SERVER - PREPARE UPDATE PASSWORD - Create encode file from commom-encode on file {{ hospedate_local_workdir }}/update_password/update_password-{{ my_date }}-{{ my_time }}.output "
      become_user: "{{ hospedate_awx_user }}"
      ansible.builtin.shell: "java -cp .:{{ hospedate_local_workdir }}/lib/commons-codec.jar:{{ hospedate_local_workdir }}/lib/jboss-logging.jar RunEncode  {{ hospedate_update_password }} > {{ hospedate_local_workdir }}/update_password/update_password-{{ my_date }}-{{ my_time }}.output"
      args:
        chdir: "{{ hospedate_local_workdir }}/bin"

    - name: "AWX BUILD SERVER - PREPARE UPDATE PASSWORD - Read file update_password-{{ my_date }}-{{ my_time }}.output "
      ansible.builtin.command: "cat {{ hospedate_local_workdir }}/update_password/update_password-{{ my_date }}-{{ my_time }}.output"
      ignore_errors: true
      changed_when: false
      register: hospedate_update_password_read
      become: yes

    - name: "AWX BUILD SERVER - PREPARE UPDATE PASSWORD - Set global variable hospedate_update_password= {{ hospedate_update_password_read.stdout }} "
      ansible.builtin.set_fact:
        hospedate_update_password: "{{ hospedate_update_password_read.stdout }}"

    - name: "AWX BUILD SERVER - PREPARE UPDATE PASSWORD - Copy sql for update password" 
      ansible.builtin.template: 
        src: gazella-update-password.sql.j2
        dest: "{{ hospedate_local_workdir }}/update_password/update_password-{{ my_date }}-{{ my_time }}.sql"
        owner: "{{ hospedate_awx_user }}" 
        group: "{{ hospedate_awx_group }}" 
        force: no 
        mode: 0775    

